/.pyftpsync-meta.json
/.DS_Store
/R2_view2_lamin_keritin_dapi__ch0_stack0000_0nm_0000000msec_0019825262msecAbs_mod.tif
/data_sync.log
/file - Copy (10).txt
/file - Copy (11).txt
/file - Copy (12).txt
/file - Copy (13).txt
/file - Copy (16) - Copy.txt
/file - Copy (16).txt
/file - Copy (17) - Copy.txt
/file - Copy (8).txt
